@import "tailwindcss";

@source "../../app.vue";
@source "../../error.vue";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: soft --default;
}

@plugin "daisyui/theme" {
  name: "soft";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: var(--color-slate-50);
  --color-base-200: var(--color-slate-100);
  --color-base-300: var(--color-slate-200);
  --color-base-content: var(--color-slate-900);
  --color-primary: var(--color-slate-900);
  --color-primary-content: var(--color-white);
  --color-secondary: var(--color-white);
  --color-secondary-content: var(--color-slate-900);
  --color-accent: oklch(48% 0.243 264.376);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(48% 0.243 264.376);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: var(--radius-4xl);
  --radius-field: var(--radius-2xl);
  --radius-box: var(--radius-3xl);
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/* Tailwind Theme */
@theme {
	--font-sans: 'Inter', sans-serif;
	--font-display: 'Plus Jakarta Sans', sans-serif;
	--font-mono: 'Fira Code', monospace;

	--text-h1: 2rem;
	--text-h2: 1.5rem;
	--text-h3: 1.25rem;
	--text-h4: 1.125rem;
	--text-h5: 1rem;
	--text-h6: 0.875rem;
	--text-body: 1rem;
	--text-caption: 0.875rem;
	--text-overline: 0.75rem;

	/* Animations */
	--animate-enter: enter 300ms ease-in-out;
	@keyframes enter {
		0% {
			opacity: 0;
			transform: translateY(24px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	--animate-appear: appear 300ms ease-in;
	@keyframes appear {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	--animate-disappear: disappear 300ms ease-in;
	@keyframes disappear {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	--animate-grow: grow 200ms ease-in-out;
	@keyframes grow {
		0% {
			transform: scale(0.5);
		}
		100% {
			transform: scale(1)
		}
	}
	--animate-slide: slide 1s ease forwards;
	@keyframes slide {
		0% {
			background-size: 0 100%;
		}

		100% {
			background-size: 100% 100%;
		}
	}
}

@layer base {
	#__nuxt {
		@apply max-w-332 items-center flex px-6 flex-col gap-24 lg:gap-36 mx-auto antialiased;
	}
	section, 	main {
		@apply animate-enter;
	}
	html {
		@apply scroll-smooth;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-base-content leading-tight text-pretty h-fit subpixel-antialiased;
	}
	h1 {
		@apply text-h1 font-display;
	}
	h2 {
		@apply text-h2 font-display;
	}
	h3 {
		@apply text-h3 font-display;
	}
	h4 {
		@apply text-h4 font-display;
	}
	h5 {
		@apply text-h5 font-medium font-sans;
	}
	h6 {
		@apply text-h6 font-medium font-sans;
	}
	p {
		@apply text-base-content/85 leading-normal text-pretty subpixel-antialiased;
	}
	strong {
		@apply font-medium text-base-content subpixel-antialiased;
	}
	em {
		@apply subpixel-antialiased;
	}
}

@layer components {

	.iconify {
		font-size: 1.25em;
	}

	.outline {
		@apply outline outline-base-300;
	}
}

@utility autohide {
	@apply hover:opacity-100 transition-opacity duration-300;
}
@utility edge {
	@apply bg-base-200 outline outline-base-300 rounded-box;
}

@utility btn {
	@apply rounded-full font-normal text-body min-w-10 min-h-10 px-4 w-fit;
}
@utility btn-primary {
	@apply btn hover:bg-white hover:text-base-content hover:border-base-300;
}
@utility btn-secondary {
	@apply btn border border-base-300 hover:bg-base-200;
}
@utility btn-link {
	@apply btn no-underline bg-none text-base-content/70 hover:text-base-content;
}

@utility badge {
	@apply badge-xl text-caption text-base-content/70 bg-white border-base-300;
}

@utility text-hero {
	font-size: 1.4375rem;
	font-size: clamp(1.4375rem, -0.2875000000000001rem + 5.75vw, 4.3125rem);
}

