@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: soft --default;
}

@plugin "daisyui/theme" {
  name: "soft";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: var(--color-white);
  --color-base-200: var(--color-zinc-100);
  --color-base-300: var(--color-zinc-200);
  --color-base-content: var(--color-zinc-900);
  --color-primary: var(--color-zinc-900);
  --color-primary-content: var(--color-white);
  --color-secondary: var(--color-white);
  --color-secondary-content: var(--color-zinc-900);
  --color-accent: oklch(48% 0.243 264.376);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(48% 0.243 264.376);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: var(--radius-4xl);
  --radius-field: var(--radius-2xl);
  --radius-box: var(--radius-3xl);
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/* Theme */
@theme {
	--font-sans: 'Inter', sans-serif;
	--font-display: 'Plus Jakarta Sans', sans-serif;
	--font-mono: 'Fira Code', monospace;
	/* Animations */
	--animate-enter: enter 300ms ease-in-out;
	@keyframes enter {
		0% {
			opacity: 0;
			transform: translateY(24px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	--animate-appear: appear 300ms ease-in;
	@keyframes appear {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	--animate-disappear: disappear 300ms ease-in;
	@keyframes disappear {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	--animate-grow: grow 200ms ease-in-out;
	@keyframes grow {
		0% {
			transform: scale(0.5);
		}
		100% {
			transform: scale(1)
		}
	}
	--animate-slide: slide 1s ease forwards;
	@keyframes slide {
		0% {
			background-size: 0 100%;
		}

		100% {
			background-size: 100% 100%;
		}
	}
}

@layer base {
	#__nuxt {
		@apply max-w-7xl items-center m-auto px-6 flex flex-col gap-36;
	}
	section, main {
		@apply animate-enter;
	}
	p {
		@apply text-zinc-700 leading-tight text-pretty;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-normal leading-tight font-display text-pretty;
	}
	h1 {
		@apply text-6xl;
	}
	h2 {
		@apply text-5xl;
	}
	h3 {
		@apply text-4xl;
	}
	h4 {
		@apply text-3xl;
	}
	h5 {
		@apply text-2xl;
	}
	h6 {
		@apply text-xl;
	}
	html {
		@apply scroll-smooth;
	}
}

@layer components {

	button {
		@apply btn-primary;
	}

	.iconify {
		font-size: 1.25em;
	}
}

@utility autohide {
	@apply hover:opacity-100 transition-opacity duration-300;
}

@utility edge {
	@apply bg-white border border-zinc-200 rounded-box;
}

@utility btn-primary {
	@apply btn hover:bg-white hover:text-zinc-900 hover:border-zinc-300;
}

@utility btn-secondary {
	@apply btn border border-zinc-200 hover:border-zinc-300;
}

@utility btn-link {
	@apply btn no-underline bg-none text-zinc-700 hover:text-zinc-900;
}

@utility btn {
	@apply rounded-full font-normal text-base min-w-10 min-h-10 px-4 w-fit;
}